---
permalink: /humans.txt
eleventyExcludeFromCollections: true
---
/* TEAM */
    Creador: Juanjo Marcos
    Contacto: juanjo@paigar.es
    Web: https://www.paigar.es
    Ubicacion: Bilbao - SPAIN

/* SITIO */
    Idioma: Castellano
    Doctype: HTML5
    IDE: Visual Studio Code
    Tecnologias: Eleventy, Nunjucks, HTML5, CSS3, JavaScript
    Ultima actualizacion: {% currentBuildDate %}

/* CONTENIDO */
    Tematica: Diseño y desarrollo web
    Enfoque: Sitios web personalizados para las necesidades digitales de tu negocio

/* AGRADECIMIENTOS */
    Inspiracion: Me gusta tener la mente abierta, muy abierta, porque me he encontrado demasiada gente que la tenia demasiado cerrada
    Herramientas: Eleventy
    Plantilla: Ninguna

/* CITA */
    ¿Por qué esta magnífica tecnología científica, que ahorra trabajo y nos hace la vida más fácil nos aporta tan poca felicidad? La respuesta es esta, simplemente: porque aún no hemos aprendido a usarla con tino. (Albert Einstein)