#cabecera {
	height: 100vh;
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	font-size: min(9vh, 9vw);
	z-index: 10;
	--posinicio: 0;
	--altura: var(--alturaCabecera);
}
#cabecera .intro {
	grid-area: intro;
	padding: 10%;
	display: grid;
	align-items: center;
	background-color: var(--clr-fondo-100);
	/* 	animation: rotarinv 1s linear forwards;
	animation-play-state: paused;
	animation-delay: calc(var(--scroll) * var(--ratioCabecera) * -1s);
	animation-fill-mode: both; */
	transform-origin: 0 100%;
	--nombreanimacion: rotar;
}
#cabecera .imagen {
	overflow: hidden;
	grid-area: imagen;
	/* 	animation: rotar 1s linear forwards;
	animation-play-state: paused;
	animation-delay: calc(var(--scroll) * var(--ratioCabecera) * -1s);
	animation-fill-mode: both; */
	transform-origin: 100% 100%;
	--nombreanimacion: rotar;
}
#cabecera .imagen img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
@media (orientation: portrait) {
	#cabecera {
		grid-template-areas: "intro intro" "imagen imagen";
	}
}
@media (orientation: landscape), (min-width: 800px) {
	#cabecera {
		grid-template-areas: "intro imagen" "intro imagen";
	}
}
#cabecera .logo {
	font-weight: 950;
	text-transform: uppercase;
	letter-spacing: -0.025em;
}
#cabecera h1 {
	font-size: 0.5em;
	line-height: 1.2em;
	font-weight: 100;
	margin-block: 1em;
}
