#contacto {
	background-color: var(--clr-fondo-100);
	padding-block: 10vh;
}
#contacto .titulo {
	position: relative;
	background: #232526; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#414345,
		#232526
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#414345,
		#232526
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	--nombreanimacion: rotaracero;
	--posinicio: calc(
		var(--alturaCabecera) + var(--alturaBilbao) + var(--alturaDiferente) +
			var(--alturaMetodo) - var(--alturaPantalla)
	);
	--altura: calc(var(--alturaPantalla) / 1.3);
	--giroinicial: -15deg;
	position: sticky;
	z-index: 5;
	top: 0;
}
#contacto .titulo .fondo {
	position: absolute;
	background-color: var(--clr-fondo-100);
	inset: -1px;
	z-index: 0;
	--nombreanimacion: crecerlado;
	--xinicial: 100%;
	--xfinal: 0;
	transform-origin: 100% 100%;
}
#contacto .titulo h2 {
	text-align: center;
	max-width: 25ch;
	margin-inline: auto;
	font-size: clamp(1.5rem, 5vw, 3rem);
	line-height: 1.2em;
	padding-block: 0.5em;
	color: var(--clr-fondo-100);
}
#contacto .info {
	padding-block: 10vh;
	z-index: 2;
	position: relative;
}
#contacto .info p {
	text-align: center;
	font-weight: 200;
	font-size: 1.1em;
	max-width: 35ch;
	margin: auto;
	padding: 1em 2em;
	border: 1px solid #666;
	border-radius: 5em;
	position: relative;
	background-color: var(--clr-fondo-400);
}
#contacto .info p::after {
	content: "";
	position: absolute;
	bottom: -1em;
	left: 65%;
	width: 1em;
	aspect-ratio: 1;
	border-left: 1px solid #666;
	border-top: 1px solid var(--clr-fondo-400);
	background-image: linear-gradient(
		135deg,
		var(--clr-fondo-400) 48%,
		#666 48%,
		#666 51%,
		transparent 51%
	);
}
#contacto .doscol {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(100%, 20rem), 1fr));
	gap: 3em 0;
	padding-bottom: 3em;
	font-size: max(1rem, 0.9em);
}
#contacto ul {
	list-style: none;
	margin: auto;
	padding: 0;
	display: grid;
	gap: 0.75em;
	width: fit-content;
}
#contacto ul li {
	display: grid;
	grid-template-columns: 2em 1fr;
	gap: 1em;
	align-items: center;
}
#contacto ul li span {
	width: 2em;
	aspect-ratio: 1;
	border-radius: 100vw;
	display: grid;
	place-items: center;
	--nombreanimacion: decrecer;
	--posinicio: calc(
		var(--alturaCabecera) + var(--alturaBilbao) + var(--alturaDiferente) +
			var(--alturaMetodo) - (var(--alturaPantalla) / 2)
	);
	--altura: calc(var(--alturaPantalla) / 1.5);
	transform-origin: 60% 10%;
	z-index: 1;
}
#contacto ul li:nth-child(1) span {
	background-color: #f86624;
}
#contacto ul li:nth-child(2) span {
	background-color: #ea3546;
}
#contacto ul li:nth-child(3) span {
	background-color: #43bccd;
}
#contacto ul li:nth-child(4) span {
	background-color: #662e9b;
}
#contacto ul li a {
	color: #333;
	text-decoration: none;
}
#contacto svg {
	height: 1.1em;
	margin: auto;
	fill: var(--clr-fondo-100);
}
#contacto form {
	max-width: 25rem;
	margin: auto;
	font-size: 0.9em;
}
#contacto .campos {
	display: grid;
	gap: 0.75em;
}
#contacto .campo {
	position: relative;
	font-size: 1em;
}
#contacto .campo .estado {
	display: block;
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 0;
	left: 0;
	background: #aaa;
	display: none;
}
#contacto .campo .input {
	border: 1px solid #ccc;
	outline: none;
	background-color: var(--clr-fondo-400);
	padding: 0.5em;
	width: 100%;
	line-height: 1.2em;
	border-radius: 0.25em;
}
#contacto .campo textarea {
	width: 100%;
	height: 8rem;
	border-radius: 0.25em;
	resize: none;
}
#contacto .campo .etiqueta {
	position: absolute;
	top: 0.4em;
	left: 0.7em;
	pointer-events: none;
	transition: all 300ms linear;
	color: #333;
}
#contacto .campo .input:focus + .etiqueta,
#contacto .campo .input:not([value=""]) + .etiqueta {
	transform: translate(-0.7em, -1.75em);
	font-size: 0.7em;
	opacity: 0;
}
#contacto .campo .input:focus,
#contacto .campo .input:not([value=""]) {
	background: #fff;
}
#contacto .campo .input:not([value=""]):not(:focus):invalid {
	color: #ea3546;
	border-color: #ea3546;
}
#contacto .campo .input:not([value=""]):not(:focus):invalid ~ .estado {
	background: #ea3546;
}
#contacto .legal {
	font-size: 0.8em;
	display: flex;
	align-items: center;
	gap: 1em;
}
#contacto .enviar a {
	color: var(--clr-acento-200);
}
#contacto .botonenviar {
	position: relative;
	isolation: isolate;
}
#contacto .botonenviar input {
	display: block;
	width: 100%;
	margin: 1em 0 0;
	padding: 0.5em 2em;
	border: 1px solid #ccc;
	border-radius: 0.25em;
	background-image: linear-gradient(
		to right,
		#414345,
		#232526 50%,
		var(--clr-fondo-100) 50%
	);
	background-size: 200%;
	background-position: right;
	transition: 300ms linear;
	cursor: pointer;
}
#contacto .botonenviar:hover input {
	color: var(--clr-fondo-100);
	background-position: left;
}
