{%- css %}{% include "public/css/bilbao.css" %}{% endcss %}
{% set articulo = collections.bilbao[0] %}

<section id="bilbao" class="seccion">
  <div class="intro">
    <div class="titulo">
      <div class="fondo animado"></div>
      <h2>{{ articulo.data.titulo | safe }}</h2>
    </div>
    <div class="contenedor">
      <div class="imagen cubrir">
        <img src="{{ articulo.data.imagen }}" alt=""/>
      </div>
    </div>
  </div>
  <div class="contenedor">
    <div class="texto">
      {{ articulo.content | safe }}
    </div>
    <div></div>
  </div>
</section>