{%- css %}{% include "public/css/cabecera.css" %}{% endcss %}

<section id="cabecera" class="seccion">
  <div class="intro animado">
    <div class="text">
      <div class="logo">{{ client.siteName }}</div>
      <h1>{{ title }}</h1>
    </div>
  </div>
  <div class="imagen cubrir animado">
    <picture>
      <source srcset="/img/a1.webp" type="image/webp">
      <source srcset="/img/a1.jpg" type="image/jpeg">
      <img src="/img/a1.jpg" alt="">
    </picture>
  </div>
</section>