{%- css %}{% include "public/css/contacto.css" %}{% endcss %}

<section id="contacto" class="seccion">
  <div class="titulo animado">
    <div class="fondo animado"></div>
    <h2>{{ contenidos.contacto.titulo }}</h2>
  </div>
  <div class="contenedor">
    <div class="info">
      <p>{{ contenidos.contacto.subtitulo }}</p>
    </div>
    <div class="doscol">
      <div class="col">
        <ul>
          <li>
            <span class="animado">{% include "svg/sobre.svg" %}</span>
            <a href="mailto:juanjo@paigar.es">juanjo@paigar.es</a>
          </li>
          <li>
            <span class="animado">{% include "svg/telefono.svg" %}</span>
            <a href="tel:+34944130535">+34 944 130 535</a>
          </li>
          <li>
            <span class="animado">{% include "svg/whatsapp.svg" %}</span>
            <a href="https://wa.me/+34605639214?text=Hola!">Whatsapp</a>
          </li>
          <li>
            <span class="animado">{% include "svg/localizacion.svg" %}</span>
            Bilbao, Spain
					</li>
        </ul>
      </div>
      <div class="col">
        <form
								name="contactopaigar"
								action="https://forms.idenautas.work/paigar.php"
								method="POST"
								autocomplete="off">
          <div class="campos">
            <div class="campo">
              <input
											class="input"
											type="text"
											id="formnombre"
											name="nombre"
											value=""
											onchange="this.setAttribute('value', this.value);"
											pattern=".{3,}"
											title="{{ contenidos.contacto.campos.nombrevalidar }}"
											required=""/>
              <label class="etiqueta" for="formnombre">{{ contenidos.contacto.campos.nombre }}</label>
              <span class="estado"></span>
            </div>
            <div class="campo">
              <input
											class="input"
											type="text"
											pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
											id="formemail"
											name="email"
											value=""
											onchange="this.setAttribute('value', this.value);"
											title="{{ contenidos.contacto.campos.emailvalidar }}"
											required=""/>
              <label class="etiqueta" for="formemail">{{ contenidos.contacto.campos.email }}</label>
              <span class="estado"></span>
            </div>
            <div class="campo">
              <textarea
											class="input"
											id="formmensaje"
											name="Mensaje"
											value=""
											onchange="this.setAttribute('value', this.value);"
											required=""></textarea>
              <label class="etiqueta" for="formmensaje"
											>{{ contenidos.contacto.campos.mensaje }}</label
										>
              <span class="estado"></span>
            </div>
            <div class="campo visually-hidden">
              <input
											class="input"
											type="text"
											id="presupuesto"
											name="presupuesto"
											value=""/>
              <label class="etiqueta" for="presupuesto"
											>{{ contenidos.contacto.campos.robots }}</label
										>
              <span class="estado"></span>
            </div>
          </div>
          <div class="legal">
            <input
										type="checkbox"
										id="legal"
										name="textoLegal"
										class="todo"
										required=""/>
            <label for="legal"
										>{{ contenidos.contacto.campos.legal | safe}}
            </label
									>
          </div>
          <div class="enviar">
            <input type="hidden" name="origenurl" value="{{ page.url }}">
            <input type="hidden" name="idioma" class="" value="es"/>
            <div class="botonenviar">
              <input type="submit" name="enviar" value="{{ contenidos.contacto.campos.enviar }}"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>