{%- css %}{% include "public/css/diferente.css" %}{% endcss %}
{% set articulos = collections.diferente %}

<section id="diferente" class="seccion">
  <div class="mensaje animado">
    <p class="animado">
      {{ contenidos.diferente.tip1 | safe }}</p>
  </div>
  <div class="mensaje animado">
    <p class="animado">
      {{ contenidos.diferente.tip2 | safe }}
    </div>
    <div class="mensaje animado">
      <p class="animado">
        {{ contenidos.diferente.tip3 | safe }}
      </div>
      <div id="bloques" class="bloques">
        <div class="anillo animado">
          <div class="circulo">
            {% for articulo in articulos | reverse %}
              <div class="sat animado">
                {% include "svg/" + articulo.data.icono %}
              </div>
            {% endfor %}
            <div class="fondo cubrir">
              <picture class="animado">
                <source srcset="/img/d1.webp" type="image/webp">
                <source srcset="/img/d1.jpg" type="image/jpeg">
                <img src="/img/d1.jpg" alt="">
              </picture>
              <picture class="animado">
                <source srcset="/img/d2.webp" type="image/webp">
                <source srcset="/img/d2.jpg" type="image/jpeg">
                <img src="/img/d3.jpg" alt="">
              </picture>
              <picture class="animado">
                <source srcset="/img/d3.webp" type="image/webp">
                <source srcset="/img/d3.jpg" type="image/jpeg">
                <img src="/img/d3.jpg" alt="">
              </picture>
              <picture class="animado">
                <source srcset="/img/d4.webp" type="image/webp">
                <source srcset="/img/d4.jpg" type="image/jpeg">
                <img src="/img/d4.jpg" alt="">
              </picture>
              <picture class="animado">
                <source srcset="/img/d5.webp" type="image/webp">
                <source srcset="/img/d5.jpg" type="image/jpeg">
                <img src="/img/d5.jpg" alt="">
              </picture>
            </div>
          </div>
        </div>
        {% for articulo in articulos %}
          <div class="bloque">
            <h2>{{ articulo.data.titulo }}</h2>
            {{ articulo.content | safe }}
          </div>
        {% endfor %}
      </div>
    </section>