{%- css %}{% include "public/css/pie.css" %}{% endcss %}
{%- css %}{% include "public/css/keyframes.css" %}{% endcss %}

<footer class="pie">
  <div class="cita">
    <div class="blockquote animado">
      <h2>
						"Yo... he visto cosas que vosotros no creeríais: Diseñar páginas web
						usando <span>Frontpage</span>. He visto
						<span>GIFs animados</span> colonizar sitios completos más allá de
						los dominios de <span>Geocities</span>. Todos esos momentos se
						perderán... en el tiempo... como cookies en la red. Es hora de
						<span>innovar</span>"
					</h2>
      <h3>&mdash;Juanjo Marcos (Paigar)<br/>
        <em>Desarrollador web</em>
      </h3>
    </div>
  </div>
  <div class="fijo" id="piefijo">
    <div class="contenedor">
      <p>© {% currentYear %} Paigar</p>
      <ul>
        <li>
          <a href="/aviso-legal/">Aviso legal</a>
        </li>
        <li>
          <a href="/politica-de-privacidad/">Política de privacidad</a>
        </li>
        <li>
          <a href="/uso-de-cookies/">Uso de cookies</a>
        </li>
      </ul>
    </div>
  </div>
</footer>