{%- css %}{% include "public/css/pie.css" %}{% endcss %}
{%- css %}{% include "public/css/keyframes.css" %}{% endcss %}

<footer class="pie">
  <div class="cita">
    <div class="blockquote animado">
      <h2>{{ contenidos.cita.texto | safe }}</h2>
      <h3>{{ contenidos.cita.autor | safe }}<br/>
        <em>{{ contenidos.cita.cargo | safe }}</em>
      </h3>
    </div>
  </div>
  <div class="fijo" id="piefijo">
    <div class="contenedor">
      <p>© {% currentYear %}
        {{ client.siteName }}</p>
      <ul>
        {% for item in contenidos.menupie %}
          <li>
            <a href="{{ item.link }}">{{ item.texto }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</footer>