<footer class="limites pie">
  <div class="flex between ancho" style="flex-wrap: wrap;">
    <p>&copy; {% currentYear %} Juanjo Marcos. Hecho con <a href="https://www.11ty.dev/">Eleventy</a>.</p>
    <div class="pie__links">
      <a href="/aviso-legal/">Aviso legal</a>
      <a href="/politica-de-privacidad/">Privacidad</a>
      <a href="/uso-de-cookies/">Cookies</a>
      <a href="/versiones/">Versiones anteriores</a>
    </div>
  </div>
</footer>
