---
layout: layouts/base.njk
---

<header>
  {%- css %}{% include "public/css/reset.css" %}{% endcss %}
  {%- css %}{% include "public/css/fonts.css" %}{% endcss %}
  {%- css %}{% include "public/css/base.css" %}{% endcss %}
  {%- css %}{% include "public/css/variables.css" %}{% endcss %}
  {%- css %}{% include "public/css/utilidades.css" %}{% endcss %}
  {%- css %}{% include "public/css/resto.css" %}{% endcss %}
  {% include "partials/cabecera_resto.njk" %}
</header>
<main id="principal">
  <div class="imagencabecera cubrir">
    <picture>
      <source srcset="/img/f1.webp" type="image/webp">
      <source srcset="/img/f1.jpg" type="image/jpeg">
      <img src="/img/f1.jpg" alt="">
    </picture>
  </div>
  <div class="contenedor">
    {{ content | safe }}
  </div>
</main>

{%- js %}{% include "public/js/resto.js" %}{% endjs %}