<article class="postcard-destacado reveal ancho">
  <a href="{{ post.url }}" class="postcard-destacado__link">
    <p class="postcard-destacado__label">Destacado</p>
    <h2 class="postcard-destacado__title">{{ post.data.title }}</h2>
    <p class="postcard-destacado__meta">
      <time datetime="{{ post.data.date | htmlDateString }}">{{ post.data.date | readableDate }}</time>
      <span>&middot;</span>
      <span>{{ post.content | readingTime }}</span>
    </p>
    {% if post.data.description %}
      <p class="postcard-destacado__description">{{ post.data.description }}</p>
    {% endif %}
  </a>
  {% if post.data.tags %}
    <div class="postcard__tags">
      {%- for tag in post.data.tags | filterTagList %}
        <a href="/tags/{{ tag | slugify }}/" class="tag">{{ tag }}</a>
      {%- endfor %}
    </div>
  {% endif %}
</article>
